<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>USE CASES</h1>
    <a href="index.html" target="_blank">home page</a> <br>
    <p>click account on home page to login or sign up</p>
    <br>
    <br>
    <a href="userhome.html" target="_blank">example user account</a> <br>
    <p>user can click volunteer on home page to search and apply for volunteering </p>
    <p> user can edit their account, view purchase or volunteering history </p>
    <p> users can click exchange on the home page in order to go through the ads posted and purchase them</p>
    <br>
    <br>
    <a href="organizationHome.html" target="_blank">example organization account</a> <br>
    <p>organizations can click recruit on the home page to post their opportunities</p>
    <p>organizations can edit their account, view their post history in order to approve applicants</p>
    <br>
    <br>
    <a href="vendorhome.html" target="_blank">example vendor account</a> <br>
    <p>vendors can advertise their products by clicking advertise on home page</p>
    <p>vendors can edit their account or view their post history. They will be able to see how many sales they made in their post history.</p>
</body>
</html>